.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.image {
  width: 100%;
  height: auto;
  max-width: none;
  margin-top: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #fff;
  border-radius: 0px;
  background-color: transparent;
  text-align: center;
}

.image.draggable {
  display: block;
  margin-top: 0px;
  margin-left: 0px;
  box-shadow: 6px 6px 20px 0 #000;
  text-align: center;
}

.image.forb {
  width: auto;
  max-height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: transparent;
}

.image.anchors {
  margin-top: -44px;
  margin-bottom: 57px;
  box-shadow: 13px 13px 20px 0 #000;
}

.image.evergiven {
  width: auto;
  max-height: none;
  max-width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  background-color: transparent;
  text-align: center;
}

.body {
  background-color: #000;
}

.div-block {
  overflow: visible;
  height: auto;
  max-height: none;
  max-width: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.div-block._1 {
  overflow: visible;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  text-align: center;
}

.container {
  border: 1px solid transparent;
}

.section {
  height: 80vh;
  margin: 40px 0px;
}

.html-embed {
  height: 60vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

.html-embed.revfonts {
  margin-bottom: 0px;
}

.html-embed.forb {
  margin-bottom: 0px;
}

.container-2 {
  display: block;
}

.grid {
  margin-top: 60px;
  margin-bottom: 60px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-2 {
  max-width: 137%;
}

.image-3 {
  margin-top: -10px;
}

.image-4 {
  max-width: 137%;
}

.image-5 {
  margin-top: -10px;
}

.div-block-2 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.div-block-3 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.grid-2 {
  margin-right: 10px;
  margin-left: 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-4 {
  margin: 0px 10px 60px;
  grid-row-gap: 32px;
}

.grid-5 {
  margin-right: 10px;
  margin-bottom: 60px;
  margin-left: 10px;
}

.grid-6 {
  margin: 60px 10px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Times extended', 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 6em;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  height: auto;
}

.container-4 {
  height: 80vh;
  max-width: 100vw;
}

.html-embed-2 {
  height: 70vh;
}

.html-embed-3 {
  height: 80vh;
  margin-top: 60px;
  margin-bottom: 60px;
}

.html-embed-3.window {
  margin-bottom: 0px;
}

.html-embed-3.evergiven {
  margin-bottom: 0px;
}

.grid-7 {
  margin-top: 20px;
  margin-bottom: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-5 {
  text-align: center;
}

.grid-8 {
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-7 {
  height: auto;
  max-height: 100%;
}

.image-8 {
  height: auto;
  max-height: 100%;
}

.div-block-4 {
  height: 80vh;
  text-align: center;
}

.div-block-5 {
  height: 80vh;
  text-align: center;
}

.bwp {
  height: auto;
  max-height: none;
  padding-right: 10px;
  padding-left: 10px;
}

.image-9 {
  height: auto;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.image-10 {
  height: auto;
}

.image-11 {
  height: auto;
  max-height: 100%;
}

.link-block {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-12 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-12.work {
  width: 100%;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.container-7 {
  text-align: center;
}

.div-block-6 {
  height: auto;
}

.link-block-2 {
  height: auto;
}

.link-block-3 {
  height: auto;
}

.link-block-4 {
  height: auto;
}

.grid-9 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-7 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-block-8 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-block-9 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-10 {
  margin-top: 60px;
  margin-bottom: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-11 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-12 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-2 {
  font-family: 'Times extended', 'Times New Roman', sans-serif;
  color: #fff;
  font-size: 3em;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
}

.grid-13 {
  height: 70vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.html-embed-4 {
  height: 60vh;
}

.div-block-10 {
  text-align: center;
}

.image-13 {
  width: 100%;
  max-width: none;
}

.image-14 {
  width: 100%;
  max-width: none;
}

.image-15 {
  width: 100%;
  max-width: none;
}

.image-16 {
  width: 100%;
  max-width: none;
}

.image-17 {
  width: 100%;
  max-width: none;
}

.image-18 {
  width: 100%;
  max-width: none;
}

.image-19 {
  width: 100%;
  max-width: none;
}

.image-20 {
  width: 100%;
  max-width: none;
}

.image-21 {
  width: 100%;
  max-width: none;
}

.link {
  margin-left: 0px;
  font-family: 'Times extended', 'Times New Roman', sans-serif;
  color: #fff;
}

@media screen and (max-width: 479px) {
  .image-2 {
    margin-left: -22px;
  }

  .image-4 {
    margin-left: -40px;
  }

  .image-6 {
    margin-left: -6px;
  }

  .heading {
    font-size: 3em;
  }

  .div-block-4 {
    height: auto;
  }

  .div-block-5 {
    height: auto;
  }

  .grid-10 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .heading-2 {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2em;
    line-height: 1.2em;
  }
}

@font-face {
  font-family: 'Times extended';
  src: url('../fonts/Times-Extended.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}